/* common shared style */
body{
    font-family: 'Open Sans', sans-serif;
    
}
.text-primary{
    color: #FD6E0A;
}
.primary-button{
    background-color: #FD6E0A;
    color: #FFF ;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.section-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
.section-description{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}
/* 
extra button other design */
.contact-button{
    background-color: #FFF8F3;  
    color: #FD6E0A;
    border: 1px solid #FD6E0A ;
}
/* nav related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 200px ;                          
}
.Web-title{

font-size: 45px;
font-weight: 800;
color: #181818;
}

nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* header related style */
.header{
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom  right;
}
.banner{
    padding:30px 30px 0px 150px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-picture{
    width: 500px;
    
}
.banner-content{
    max-width: 514px;
}
.banner-greeting{
    font-size: 45px;
   
    color: #474747;
    margin-bottom: 0px;
    
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    color:#181818;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
   width: 585px;
   margin-bottom: 30px;

}

/* main section style */






/* about section style */
.about{
    border-radius:10px;
    padding: 209px 157px 156px 221px;
    margin: 130px 0;
    background-color:#FFF8F3 ;
}
